.DS_Store
.vs

.vscode
Merchantapp.Vue/node_modules/
publish/
**/bin/
**/obj/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
**/upload/
**/App_Data_Temp/
**/error/
**/errlog/
**/upload2/
**/*.csproj.user
InsuranceApp/Image/ActionQrcode
packages/
webapp/plugin/
tests/**/coverage/
tests/e2e/reports
selenium-debug.log
*.user
# Editor directories and files
.idea
.vscode
*.suo


*.local

package-lock.json
yarn.lock

!/WebApp/scripts/ueditor/net/Bin
!/WebApp/scripts/ueditor/third-party/.DS_Store